node_modules
screenshots/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Playwright
/test-results
/playwright-report

# API bundles
/api/dist-backend
/api/dist-azure
